.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 30%;
    margin-top: 15%;
    margin-right: 5%;
    grid-auto-rows: 350px;
    grid-gap: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.card img {
    width: 150px;
    height: 150px;
}

.name {
    size: 18px;
}

.card-link {
    text-decoration: none;
    color: black;

}

.card-link:hover{
    text-decoration: underline;
}

.buttonReload {
    position: fixed;
    top: 5%;
    right: 5%;
    padding: 1px;
    background-color: #252225;

}

.buttonReload button {
    background-color: #252225;
    height: 30px;
    color: rgba(194, 171, 171, 0.82);
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.buttonReload img {
    width: 30px;
    height: auto;
}

.cart {
    position: fixed;
    top: 10%;
    right: 5%;
    }

